
/**
 * Colors
 */

$main-color: #2C4770;
$second-color: #E3E8EE;
$third-color: #142E54;
$green-color: #83F52C;
$white: #FFFFFF;


/**
 * Font sizes
 */

$big-size: 22px;
$bigmed-size: 18px;
$medium-size: 14px;
$small-size: 11px;


/**
 * General styles
 */

.main-container {
	width: 100%;
}

.inner-container {
	width: 90%;
	padding: 15px;
	margin: 0 auto;
}

.bordered-panel {
	border-radius: 10px;
	border: 2px solid black;
	margin-top: 10px;
}