/**
 * Top functions: add, sort
 */

.sort-menu {
	ul {
		list-style-type: none;
		display: inline;
		padding-left: 5px;
	}
	li {
		display: inline;
		margin-right: 15px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
			color: $green-color;
		}
	}
}

.add-link {

	border-radius: 10px;
	border: 2px solid black;
	margin-top: 10px;
	
	form {
		display: inline;
	}
}