/**
 * Colors
 */
/**
 * Font sizes
 */
/**
 * General styles
 */
/* line 27, ../../app/styles/_common.scss */
.main-container {
  width: 100%;
}

/* line 31, ../../app/styles/_common.scss */
.inner-container {
  width: 90%;
  padding: 15px;
  margin: 0 auto;
}

/* line 37, ../../app/styles/_common.scss */
.bordered-panel {
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 10px;
}

/**
 * Style for header
 */
/* line 5, ../../app/styles/_header.scss */
.header {
  background-color: #2C4770;
  color: #E3E8EE;
  padding: 10px;
  font-size: 22px;
}

/**
 * Footer styles
 */
/* line 5, ../../app/styles/_footer.scss */
.footer {
  padding: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/**
 * Top functions: add, sort
 */
/* line 6, ../../app/styles/_top-functions.scss */
.sort-menu ul {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}
/* line 11, ../../app/styles/_top-functions.scss */
.sort-menu li {
  display: inline;
  margin-right: 15px;
  cursor: pointer;
}
/* line 15, ../../app/styles/_top-functions.scss */
.sort-menu li:hover {
  text-decoration: underline;
  color: #83F52C;
}
/* line 21, ../../app/styles/_top-functions.scss */
.sort-menu .active {
  text-decoration: underline;
  color: #83F52C;
}

/* line 28, ../../app/styles/_top-functions.scss */
.add-link form {
  display: inline;
}

/**
 * Rating styles
 */
/* line 5, ../../app/styles/_rating.scss */
.rating-module {
  margin: 10px 0;
}
/* line 8, ../../app/styles/_rating.scss */
.rating-module .glyphicon {
  font-size: 25px;
}
/* line 12, ../../app/styles/_rating.scss */
.rating-module .glyphicon-star {
  color: #E6E600;
}

/**
 * Tags styles
 */
/* line 5, ../../app/styles/_tags.scss */
.tags-container {
  margin: 10px 0;
}
/* line 8, ../../app/styles/_tags.scss */
.tags-container .tags-list {
  margin: 15px 0;
}
/* line 12, ../../app/styles/_tags.scss */
.tags-container .tag {
  margin: 8px;
  padding: 8px;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 11px;
}

/**
 * Table styles
 */
/* line 5, ../../app/styles/_content.scss */
.link {
  cursor: pointer;
}
/* line 7, ../../app/styles/_content.scss */
.link:hover {
  text-decoration: underline;
  color: #2C4770;
}

/* line 14, ../../app/styles/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* line 21, ../../app/styles/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}
